spring.application.name=Chessio_Server
server.port=44444
spring.datasource.url=jdbc:mysql://localhost:3306/chessio?useSSL=false&serverTimezone=Asia/Jerusalem&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=abc123
spring.jpa.hibernate.ddl-auto=update
spring.sql.init.mode=never
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.properties.hibernate.boot.allow_jdbc_metadata_access=false